.cardContainer{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 0 auto;
  gap: 39px;
}

.container{
  max-width: 1400px;
  margin-top: 20px;
  padding: 60px 80px;
  margin: 0 auto;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 56px;
  height: 56px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: #eaa332;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
